<head>
  <style>
    table {
      float: left;
      width: 46%;
      margin:2%;
    }
    th {
      background-color: #4CAF50;
      color: white;
      padding: 2%;
    }
    td {
      border-bottom: 1px solid #ddd;
      padding: 2%;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    #table_container{
      width:50%;
      margin:0 auto;
    }

  </style>
</head>

<body>

  <h1>Dashboard</h1>
  <!--get user session-->
  <!--stored in SESSION as [user_id, user_name, user_email]-->
  <h2>Hello <% session.user_name %></h2>
  <h3><% session.email %></h3>

<!--get user's past (before today) bookings-->

<!--  QUERY:-->
<!--  SELECT booking_timestamp, booking_car_id,-->
<!--  FROM BOOKING, HAS_BOOKING-->
<!--  INNER JOIN BOOKING on HAS_BOOKING.booking_id=BOOKING.booking_id-->
<!--  WHERE HAS_BOOKING.user_id= << GET SESSION USER ID HERE >>-->
<!--    AND booking_timestamp < << GET TODAY'S DATE HERE >>-->
<!--  ORDER BY booking_timestamp DESC-->

<!--store query result as pastbook as [booking_timestamp, booking_car_id]-->

<!--  somehow do this in Ruby and stick into controller section-->

  <!--  QUERY:-->
  <!--  SELECT booking_timestamp, booking_car_id,-->
  <!--  FROM BOOKING, HAS_BOOKING-->
  <!--  INNER JOIN BOOKING on HAS_BOOKING.booking_id=BOOKING.booking_id-->
  <!--  WHERE HAS_BOOKING.user_id= << GET SESSION USER ID HERE >>-->
  <!--    AND booking_timestamp > << GET TODAY'S DATE HERE >>-->
  <!--  ORDER BY booking_timestamp ASCE-->

<!--  store as currentbook-->

<div id="table_container">
<table>
  <tr>
    <th colspan="=2">Past Bookings</th>
  </tr>
  <tr>
    <td>Time</td>
    <td>Car</td>
  </tr>
  <% @pastbook.each do |book| %>
  <tr>
    <td><% book.booking_timestamp %></td>
    <td><% book.booking_car_id %></td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <th colspan="=2">Current Bookings</th>
  </tr>
  <tr>
    <td>Time</td>
    <td>Car</td>
  </tr>
  <% @currentbook.each do |book| %>
    <tr>
      <td><% book.booking_timestamp %></td>
      <td><% book.booking_car_id %></td>
    </tr>
  <% end %>
</table>
</div>

</body>