<h1>Welcome#hello</h1>
<p>Find me in app/views/welcome/hello.html.erb</p>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>