@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  text-align: center;
  padding-top: 80px !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#unterTitle{
    font-size: 6em;
}



/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
